@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #d10000;
    --secondary-color: #fff;
    --background-color: #000;
}

html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: var(--background-color);
}
